h1 
{
    grid-area: header;
    color:rgb(108, 189, 147);
    background-color:rgb(4, 97, 121); 
    font-size:100; 
    font-family:monospace;
    left:200;
    margin-top: -10px;
    padding: 40px;
    text-align: center;
}
h2 
{
    grid-area: subhead;
    color:rgb(131, 196, 174);
    background-color:rgb(90, 136, 148); 
    font-family:monospace; 
    font-size:50;
    left:200;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 0px;
    padding: 25px;
}
html {
    background: #111111;
}
body 
{
    margin: 0px;
    margin: 0px auto;
    width: 100%;
}
#LinkButtons {
    grid-area: nav;
    display: inline-block;
    background-color:rgb(63, 125, 141); 
    width: 200px;
}
.buttons
{
    font-family:monospace;
    text-align:center;
    color:rgb(18, 86, 86);
    font-size:20px;
    width: 120px;
    text-decoration:none;
    border:none;
    display:block;
    margin: 20px;
    padding: 20px;
}
#blue 
{
    background-color:rgb(73, 133, 133);
}
#green 
{
    background-color:rgb(97, 177, 124);
}
#plurbe
{
    background-color:rgb(73, 133, 133);
}
#bootycheek
{
    background-color:rgb(97, 177, 124);
}

#Content {
    background-color:#000000;
    padding: 0px;
}
#ContentContainer {
    display: grid;
    grid-template-areas:
    "header header header"
    "subhead subhead subhead"
    "nav canvas canvas"
    "nav canvas canvas"
    ;
}
#GameWrapper {
    grid-area: canvas;
    display: flex;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
#GameWrapper canvas {
    display: inline-block;
}
#Scoreboard {
    display: inline-block;
    background: #000000;
    color: #FFFFFF;
    font-family: digital, system-ui;
    font-size: 16px;
    width: 400px;
}
.scoreboardBlock {
    margin: 3px 10px;
    color: #FFFFFF;
}
.scoreboardLabel,
.scoreboardStat {
    margin: 5px 20px 5px 20px;
}
.scoreboardLabel {
    width: fit-content;
    display: inline-block;
    color: rgba(255, 255, 255, 0.3);
    height: 20px;
}
.scoreboardStat {
    float: right;
}
.scoreboardButton:hover {
    background: #00AAFF;
    cursor: pointer;
}
.scoreboardButton:hover .scoreboardLabel {
    color: #000000 !important;
}
#TitleWrapper {
    text-align: center;
    padding: 20px;
    background: #000000;
    color: #FFFFFF;
    font-size: 48px;
}
#TitleWrapper #Logo {
    display: inline-block;
    vertical-align: middle;
    width: 64px;
    height: 64px;
}
#TitleWrapper #Logo img {
    max-width: 64px;
    display: inline-block;
}
#Title {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
}
hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
#NewGame {
    display: none;
}

.gradientText {
    background-image: linear-gradient(90deg, #00AAFF, #FF0066);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.hidden {
    display: none;
}