h1 
{
    color:rgb(0, 255, 123); 
    font-size:100; 
    font-family:monospace;
    top:10px;
    left:200;
    position:absolute;

}
h2 
{
    color:aquamarine; 
    font-family:monospace; 
    font-size:50;
    top:50px;
    left:200;
    position:absolute;

}
body 
{
    background-color:darkslategray;
}
.words 
{
    color:darkgrey; 
    font-size:36;
    left:300;
    top:100px;
    font-family:monospace;
    position:absolute;

}
.boredom
{
    font-size:10px;
    font-family:monospace;
    color:black;
    top:1000px;
    left:0;
    position:absolute;

}
.buttons
{
    font-family:monospace;
    text-align:center;
    color:rgb(18, 86, 86);
    font-size:20px;
    text-decoration:none;
    border:none;
    display:inline-block;
    position:absolute;
    left:810px;
}
#blue 
{
    background-color:rgb(73, 133, 133);
    padding: 20px 92px;
    top:28px;
}
#green 
{
    background-color:rgb(97, 177, 124);
    top:128px;
    padding:20px 20px;
}
#plurbe
{
    background-color:rgb(73, 133, 133);
    padding:20px 38px;
    top:228px;
}
#bootycheek
{
    background-color:rgb(97, 177, 124);
    padding:20px 80px;
    top:328px;
}

#ScoreWrapper {
    background: #000000;
    font-family: digital, system-ui;
    font-size: 28px;
    width: 401px;
}
#Score {
    padding: 10px 20px;
}